button {
  font-weight: 600;

  transition: all $animation-fast;
}

a {
  transition: all $animation-fast;
}

.button {
  &-primary {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    padding: 8px 0;

    color: $color__font--secondary;
    border-radius: 4px;
    background-color: $color__primary;

    &:hover {
      color: $color__font--secondary;
      background-color: darken($color__primary, 8%);
    }

    &--disabled {
      pointer-events: none;

      color: #8d8c8c;
      background-color: #d7d7d7;
    }
  }

  &-flat {
    display: block;

    color: $color__primary;

    &:hover {
      color: darken($color__primary, 10%);
    }
  }
}
