header.header
  .container
    .header__wrap
      +LinkImg('logo.svg','/','logotype')

      span.header__toggler
      nav.header__nav
        ul.header__nav-list
            -
              let listData = [
                {text: 'About me', link: 'https://www.work.ua/ru/resumes/5585512/'},
                {text: 'Relationships', link: '/'},
                {text: 'Requirements', link: '/'},
                {text: 'Users', link: '/'},
                {text: 'Sign Up', link: '/#reg'},
              ]
            each item,index in listData
              li.header__nav-item
                a.header__nav-link(
                  href = item.link,
                  target=index!==4 ? '_blank': '')
                  =item.text
