.main {
  display: flex;
  justify-content: flex-start;

  height: 600px;
  background: {
    image: url($imgPath + 'banner-photo.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  };

  @include breakpoint($phone__all) {
    height: 400px;
    flex-direction: column;
    text-align: center;
    align-items: center ;
    justify-content: center;
  }

  &.container {
    padding: 60px 15px 0;
  }

  &__title {
    font-weight: normal;

    max-width: 540px;
    padding-left: 15px;

    text-transform: uppercase;

    color: $color__light;
  }

  &__description {
    overflow: hidden;

    max-height: 120px;
    margin-top: 25px;
    padding-left: 16px;

    text-overflow: ellipsis;

    color: $color__light;
     @include breakpoint ($phone__all) {
         display: none;
      }
    &-mobile {
      @extend .main__description;
      display: none;
       @include breakpoint ($phone__all) {
           display: block;
        }
    }
  }

  &__button {
    margin-top: 34px;
    margin-left: 15px;
     @include breakpoint ($phone__all) {
       margin: 30px auto 0;

     }
  }

  &__wrap {
    flex-basis: 55%;

    margin-top: 107px;
     @include breakpoint ($phone__all) {
       margin-top: 0;
      }
  }
}
