.users {
  background-color: $color__block--light;

  &__content {
    position: relative;
    display: grid;
    justify-content: space-between;
    grid: {
      template: {
        columns: repeat(3, 200px);
        rows: repeat(2, auto);
      };
    };
  }

}
@import "../components/user-item";

