.custom-radio {
  font-weight: 600;
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 12px;

  cursor: pointer;
  user-select: none;

  label {
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
  }

  & input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }


  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  & input:checked ~ .checkmark {
    background-color: $color__secondary;
  }

  & .checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }


  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #eee;

    &:after {
      position: absolute;
      display: none;

      content: '';
    }
  }
}
