<filesMatch ".(ico|jpg|jpeg|png|gif|svg)$">
 Header set Cache-Control "max-age=31536000 , public"
</filesMatch>
<filesMatch ".(css|js)$">
 Header set Cache-Control "max-age=31536000 , public"
</filesMatch>
<filesMatch ".(woff|woff2)$">
 Header set Cache-Control "max-age=31536000 , public"
</filesMatch>
